body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #1a00ff, #4b00c9);
}

.btn-group {
    display: flex;
    gap: 15px; /* controls spacing */
    justify-content: center; /* optional */
}
/* Layout */
.container {
    display: flex;
    height: 100vh;
}

/* Left section */
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.left img {
    width: 350px;
}

.left p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

/* Right section */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Box */
.box {
    background: #1f5fbf;
    padding: 40px;
    border-radius: 15px;
    width: 75%;
    color: white;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
}

.box h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 25px;
    background: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    float: right;
    font-weight: bold;
}

button:hover {
    background: #ddd;
}

a {
    color: white;
}