<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">

    <div class="left">
        <img src="{% static 'images/home.png' %}">
        <p>Secure Certificate Verification Using Blockchain</p>
    </div>

    <div class="right">
        <div class="box">
            <h2>Welcome</h2>

            <div class="btn-group">
    <a href="/register/"><button>Register</button></a>
    <a href="/login/"><button>Login</button></a>
</div>

        </div>
    </div>

</div>

</body>
</html>